body{
        background-color:rgb(70,148,211);
    }
    .container-fluid{
        background-color: rgb(254,248,210);
        height: 100px;
    }
    h1{
        font-family: Lato, sans-serif;
        font-size: 35px;
    }

.carousel-inner{
    align-items: center;
}
.carousel-item img{
    height: 500px;
    width: 1500px;
    
}

.card{
    align-items: center;
    width: 14rem;
    height: 14rem;
    background-color: rgb(113, 188, 148, 1);
    
}

.card-img-top{
    align-items: center;
    width: 108px;
    height: 108px;
}

.card-title{
    font-weight: 16px;
    align-items: center;
}
.btn-primary{
    align-items: center;
    background-color: seashell;
    color: black;
    border-radius: 20px;
}