@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000;
    --primary-color: #EBCE07
}


input {
    width: 400px;
    height: 35px;
    outline:none;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
} */

.inputbox label {
    position: relative;
    top:0;
    font-size: 20px;
    color: var(--primary-color);
    transition: .5s;
    cursor: text;
}

 
/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){ 
  border: 1px solid #D9D9D9;
 
  -webkit-border-radius: 3px;
  border-radius: 7px;
 
  -webkit-box-shadow: 0px 1px 4px 0px rgba(163, 163, 163, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(163, 163, 163, 0.6) inset;
 
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;

}
 
/*estilo do botão submit */
input[type="submit"]{
  cursor: pointer;  
  background: rgb(61, 157, 179);
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  text-shadow: 0 1px 1px #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
 
/*estilo do botão submit no hover */
input[type="submit"]:hover{
  background: #4ab3c6;
}

.enviar{
    margin-top: 30px;
}

label {
  display: block; /* Faz com que a label ocupe toda a largura disponível */
  margin-bottom: 5px; /* Adiciona um espaço de 5px abaixo da label */
  font-weight: bold; /* Opcional: deixa o texto da label em negrito */
}

/* Opcional: Estilizar os campos de input */
input {
 /* Faz com que os inputs ocupem toda a largura do seu container */
  padding: 8px; /* Adiciona um espaçamento interno nos inputs */
  box-sizing: border-box; /* Inclui o padding e border na largura total do elemento */
}

    body{
        background-color:rgb(254,248,210);
    }
    .container-fluid{
        background-color: rgb(70,148,211);
        height: 100px;
    }
    h1{
        font-family: Lato, sans-serif;
        font-size: 35px;
    }

    .form{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .addMarker{
        margin-left: -40px;
    }

    #map {
        height: 80%;
        width: 50%;
    }


    .title-horarios{
        font-size: 26px;
        font-weight: bold;
        margin-top: 60px;
    }

    .subtitle-horarios{
        font-size: 22px;
        margin-top: 4px;
        color: #605F5F;
    }

    .campo-ubs{
        width: 1280px;
        height: 270px;
        background-color: #ffffff;
        border: 1px solid #7749F8;
        box-shadow: 0 0 4px 4px  #7849f869;
        margin-top: 40px;
        padding: 30px 50px;
    }

    .title-nome-ubs{
        font-size: 40px;
        margin-bottom: -15px;
    }

    .title-localizacao-ubs{
        font-size: 30px;
    }

    .title-horario-ubs{
        margin-top: 20px;
    }

    .title-telefone-ubs{
        margin-top: 10px;
    }

    .ubs-img{
        margin-left: 800px;
        width: 400px;
        height: 200px;
        margin-top: -170px;
    }

    .campo :hover{
        background-color: #605f5f6b;
    }

    .campo-ubs :hover{
        background-color: #ffffff00;
    }

    .hidden {
    display: none !important;
}

