/*body {
    font-family: Lato, sans-serif;
    background-color: #73bf913f;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff5cc;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 246, 195, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2{
    text-align: center;
    color: #000000;
}
.input-group {
    margin-bottom: 15px;
    background-color: #fff5cc;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000d0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #73BF91;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #73BF91;

}

*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 20px;
    background-color: rgb(70,148,211);
    color:white;
    font-family: 'Arial';
}



@media screen and (max-width: 768px) {
  .body {
    display: block;
    background-image:none;

  }
}














